@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>錯誤</title>
</head>
<body>
    <hgroup>
        <h1 style="color:red;">錯誤。</h1>
        <h2>您沒有存取此功能的權限，請洽系統管理員。</h2>
        <a href="../Account/Login"><h2>返回登入頁面</h2></a>
    </hgroup>
</body>
</html>
